#mission > div {
  position: relative;
  z-index: 1;
  font-size: 30px;
  color: var(--blue-dark);
}
#mission > div > span {
  font-weight: 700;
  color: var(--sky-dark);
}

#mission > i {
  color: var(--sky-med);
  font-size: 750px;
  position: absolute;
  right: -10vw;
  bottom: -235px;
  z-index: 0;
}


#history {
  background-color: var(--sky-med);
  background-image: url("../../assets/history-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#history > h3 {
  margin-bottom: 36px;
  z-index: 1;
  position: relative;
}

#history > p {
  width: calc(((100vw - 27vw) / 2) + 9vw);
  position: relative;
  z-index: 1;
}

.about-history-tint {
  width: 100vw;
  height: 100%;
  background-color: white;
  opacity: 0.92;
  position: absolute;
  top: 0;
  left: 0;
}

#team > h3 {
  margin-bottom: 36px;
}

#employeeContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  margin: -12px;
}

#employeeContainer > div {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 400px) {
  #mission {
    padding-top: 80px;
    padding-bottom: 180px;
  }
  #mission > div{
    width: 100%;
  }
  #mission > i {
    font-size: calc(100vw - 48px);
    right: 24px;
    bottom: -120px;
  }
  #history > p{
    width: 100%;
  }
  #employeeContainer {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 401px) and (max-width: 799px) {
  #employeeContainer {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 401px) and (max-width: 1199px) {
  #mission {
    padding-top: calc(140px + (1200px - 100vw) * (-60 / 800));
    padding-bottom: 180px;
  }
  #mission > div {
    width: calc(582px + (1200px - 100vw) * (-230 / 800));
  }
  #mission > i {
    font-size: calc(750px + (1200px - 100vw) * (-398 / 800));
    right: calc(-120px + (1200px - 100vw) * (144 / 800));
    bottom: calc(-235px + (1200px - 100vw) * (115 / 800));
  }
  #history > p {
    width: calc(535px + (1200px - 100vw) * (-183 / 800));
  }
}
@media screen and (min-width: 1200px) {
  #mission {
    padding-top: 140px;
    padding-bottom: 180px;
  }
  #mission > div {
    width: 582px;
  }
  #history > p {
    width: 535px;
  }
}