.button {
    display: inline-block;
    padding: 9.7px 15.1px;
    border-radius: 3px;

    color: var(--green-dark);

    font-weight: 700;
    font-size: 14;
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
}

.raised {
    background-color: var(--green-dark);
    color: white;

    box-shadow: 1px 1px 10px rgba(0,0,0,0.05);
}

.button-arrow {
    margin-left: 12.5px;
    fill: var(--green-dark);
}

.raised > .button-arrow {
    fill: white;
}