.menu {
  background-color: var(--blue-dark);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: color 0.25s ease-in-out, height 0.25s ease-in-out;
}

#menu-button {
  padding: 12px;
  position: fixed;
  
}
#menu-button:hover {
  cursor: pointer;
}

.menu.inactive {
  height: 0vh;
  color: var(--blue-dark);
}
.menu.active {
  height: 100vh;
  color: white;
}

#menu-logo {
  margin: 42px 9%;
}

.menu-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 12px;
  opacity: 0;
  margin: 15vh 9%;
  color: var(--blue-med);

  transition: opacity 0.25s ease-in-out;
}
.menu.active > .menu-content {
  opacity: 1;
}

.menu-spacer {
  height: 32px;
}

.menu-content-column {
  display: flex;
  flex-direction: column;
}

.menu-subtitle {
  color: white;
  margin-bottom: 24px;
}

.text-link {
  line-height: 32px;
  color: var(--blue-med);

  transition: color 0.2s ease;
}
.text-link:hover {
  color: white;
}

.info-details {
  color: var(--blue-med);
  line-height: 32px;
  font-size: 14px;
}
a.info-details {
  text-decoration: none;

  transition: color 0.2s ease;
}
a.info-details:hover,
a.info-details:focus {
  color: white;
}

@media screen and (max-width: 599px) {
  .menu {
    overflow-y: scroll;
  }
  #menu-button {
    top: 6px;
    right: 6px;
  }
  #menu-logo {
    margin: 24px;
  }
  .menu-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 24px;
  }
  .menu-content-column {
    margin-bottom: 30px;
  }
  .menu-subtitle {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
  #menu-button {
    top: calc(30px + (800px - 100vw) * (-24 / 200));
    right: calc((108px + (1200px - 100vw) * (-84 / 600)) - 24px);
  }
}
@media screen and (min-width: 800px) and (max-width: 1199px) {
  #menu-button {
    top: 30px;
    right: calc((108px + (1200px - 100vw) * (-84 / 600)) - 24px);
  }
}
@media screen and (min-width: 1200px) {
  #menu-button {
    top: 30px;
    right: calc(((100vw - 985px) / 2) - 24px);
  }
}
