#contact-page {
    display: flex;
    flex-direction: column;
}

#contact-section {
    overflow: hidden;
    padding-top: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#contact-section > i {
    color: var(--sky-med);
    font-size: 750px;
    position: absolute;
    right: -10vw;
    top: 20px;
}


#contact-section > h4 {
    margin: 15px 0 7px 0;
}

#contact-section > .text-link,
#contact-section > p {
    line-height: 25px;
    color: var(--blue-med);
    font-size: 14px;
}   
#contact-section > .text-link:hover,
#contact-section > .text-link:focus {
    color: var(--blue-dark);
}