.toolbar-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    color: var(--sky-dark);
    text-transform: uppercase;
    margin-left: 30px;

    transition: color 0.3s ease;
}

.toolbar-link:hover {
    cursor: pointer;
    color: var(--blue-dark);
}

.emphasize {
    border-bottom: none;
    background-color: var(--sky-dark);
    color: white;
    border-radius: 3px;
    padding: 0 12px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.05);

    transition: background-color 0.3s ease; 
}
.emphasize:hover {
    color: white;
    background-color: var(--blue-dark);
}