.section {
  position: relative;
}

#pricing-button {
  margin-left: 25px;
}

#reset-button {
  margin-left: 25px;
}

#hero-section {
  display: flex;
  position: relative;
  background-color: white;
}

#hero-image {
  z-index: 2;
}

#hero-arrow-one {
  animation: bounce 1.5s ease-in-out infinite;
}
#hero-arrow-two {
  animation: bounce 2s ease-in-out infinite;
}
#hero-arrow-three {
  animation: bounce 3s ease-in-out infinite;
}

#hero-timer {
  transform-origin: 223.21302587561934px 155.37798787419547px;
  animation: timer 60s linear infinite;
}

#services-section {
  background-color: var(--sky-light);
}

#services-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
}

#services-title {
  margin-top: 24px;
  margin-bottom: 45px;
}
.services-column {
  display: inline-block;
}

a {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.services-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 24px 0 12px 0;
  text-decoration: none;
}
.services-heading:hover {
  cursor: pointer;
}

.heading-arrow {
  display: inline-block;
  fill: var(--sky-dark);
}
a:hover > div > .heading-arrow {
  animation: poke 1s ease infinite;
}
a:focus > div > .heading-arrow {
  animation: poke 1s ease infinite;
}

#about-team-section {
  display: flex;
  flex-direction: row;
  background-color: var(--blue-med);
}

#about-team-text {
  width: calc(((100vw - 180px) / 2) + 60px);
}

#about-team-title {
  color: white;
}

#about-team-paragraph {
  margin: 24px 0;
  color: var(--gray-light);
}

#about-team-image {
  display: inline-block;
  position: absolute;
  right: 9%;
  bottom: 75px;
}

#testimonials-section {
  background-color: var(--sky-light);
}

#testimonial-title {
  margin-bottom: 0;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 9%;
}

.testimonial {
  display: inline-block;
  width: 100%;
  margin-top: 32px;
  padding-left: 25px;
}

@media screen and (max-width: 599px) {
  .section {
    padding: 50px 24px;
  }
  #hero-section {
    padding-top: 25px;
    padding-bottom: 40vw;
    flex-direction: column;
  }
  #hero-text {
    width: 100%;
  }
  #hero-subtitle {
    margin: 30px 0;
  }
  #hero-image {
    position: absolute;
    height: 50vw;
    top: 70vw;
  }
  #hero-image > svg {
    width: 75%;
    margin: 0 12.5%;
  }
  #services-section {
    padding-top: 50vw;
  }
  #services-title {
    margin-top: 36px;
    margin-bottom: 24px;
  }
  #services-text {
    display: flex;
    flex-direction: column;
  }
  #about-team-section {
    flex-direction: column;
  }
  #about-team-text {
    width: 100%;
  }
  #about-team-image {
    position: initial;
    display: block;
  }
  #about-team-image > img {
    width: 90%;
    margin: 48px 5%;
  }
  .testimonials {
    display: flex;
    flex-direction: column;
  }
  .testimonial {
    margin: 24px 0;
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  .section {
    padding: 120px 10%;
  }
  #hero-section {
    padding-top: 80px;
    flex-direction: row;
  }
  #hero-text {
    width: calc((100vw - 20%) / 2);
  }
  #hero-subtitle {
    margin: 30px 0;
  }
  #hero-image {
    position: absolute;
    right: 60px;
    top: 50px;
    width: calc((100vw - 180px) / 2);
  }
}
@media screen and (min-width: 1000px) {
  .section {
    padding: 180px 9%;
  }
  #hero-section {
    padding-top: 120px;
    flex-direction: row;
  }
  #hero-text {
    width: calc((100vw - 27%) / 2);
  }
  #hero-subtitle {
    margin: 35px 0;
  }
  #hero-image {
    position: absolute;
    right: 0px;
    top: 50px;
    width: calc((100vw - 180px) / 2);
  }
}
.testimonial-quote-mark {
  line-height: 0;
  position: relative;
  right: 30px;
  top: 20px;
}

.testimonial-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.testimonial-author-portrait {
  border-radius: 50%;
  margin-right: 15px;
}

#schedule-section {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 9%;
}

#schedule-title {
  grid-column: 1 / span 2;
}

.input-name {
  line-height: 35px;
  font-size: 17px;
  margin-top: 12px;
}
.input-name > i {
  color: #cacaca;
  font-size: 14px;
}

input {
  width: 100%;
  line-height: 35px;
  font-size: 17px;
  background-color: rgba(232, 247, 255, 0.5);
  outline: 0;
  border: 0;
  border-bottom: 2px solid var(--blue-dark);
  padding: 0 12px;
  font-family: 'Montserrat', Helvetica, sans-serif;

  transition: border-bottom 0.2s ease;
}
input:focus {
  border-bottom: 2px solid var(--sky-dark);
}

textarea {
  width: 100%;
  line-height: 25px;
  min-height: 75px;
  font-size: 17px;
  background-color: rgba(232, 247, 255, 0.5);
  outline: 0;
  border: 0;
  border-bottom: 2px solid var(--blue-dark);
  resize: vertical;
  margin-bottom: 24px;
  padding: 12px;
  font-family: 'Montserrat', Helvetica, sans-serif;

  transition: border-bottom 0.2s ease;
}
textarea:focus {
  border-bottom: 2px solid var(--sky-dark);
}

@keyframes timer {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes poke {
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes bounce {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
