#faq-page {
  position: relative;
}

#faq-section {
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 80px;
}

#faq-section > h2 {
  margin-bottom: 40px;
}

.faq {
  width: 100%;
  margin-bottom: 18px;
}

.question {
  width: 100%;
  margin-bottom: 8px;
}

.answer > a {
  color: var(--blue-med);
  transition: color 0.3s ease;
}
.answer > a:hover {
  color: var(--gray-dark);
}

@media screen and (max-width: 400px) {
  .faq {
    width: 100%;
  }
}
@media screen and (min-width: 401px) and (max-width: 1199px) {
  .faq {
    width: calc(546px + (1200px - 100vw) * (-194 / 800));
  }
}
@media screen and (min-width: 1200px) {
  .faq {
    width: 546px;
  }
}
