#faq-page {
  position: relative;
}

#faq-section {
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 80px;
}

#faq-section > h2 {
  margin-bottom: 40px;
}

#faq-section > i {
  color: var(--sky-med);
  font-size: 750px;
  position: absolute;
  right: -10vw;
  bottom: -25vh;
  z-index: -1;
}

.faq {
  width: calc((73vw / 2) + 9vw);
  margin-bottom: 18px;
}

.question {
  margin-bottom: 8px;
}

.answer > a {
  color: var(--blue-med);
  transition: color 0.3s ease;
}
.answer > a:hover {
  color: var(--gray-dark);
}
