* {
  box-sizing: border-box;
}

.App {
  font-family: 'Montserrat', Helvetica, sans-serif;

  --blue-dark: #004E8E;
  --blue-med:#99B8D2;
  --blue-light:#E5EDF4;

  --sky-dark:#1CB3FF;
  --sky-med:#A4E0FF;
  --sky-light:#E8F7FF;

  --green-dark:#4ADB84;

  --red-dark:#FF6060;

  --gray-dark: #292929;
  --gray-light: #FAFAFA;
}

h2 {
  font-weight: 700;
  color: var(--blue-dark);
  font-size: 40px;
  margin: 0;
}

h3 {
  font-weight: 700;
  color: var(--blue-dark);
  font-size: 35px;
  margin: 0;
}

h4 {
  font-weight: 700;
  color: var(--sky-dark);
  font-size: 20px;
  margin: 0 12px 0 0;
}

p {
  font-weight: 500;
  color: var(--gray-dark);
  font-size: 17px;
  line-height: 22px;
  margin: 0;
}