.calendar-date {
  text-align: center;
}
.calendar-date.day {
  color: var(--sky-med);
}
.calendar-date.inactive {
  color: #cacaca;
}
.calendar-date.active {
  color: #292929;
}
.calendar-date.active:hover {
  cursor: pointer;
}
.calendar-date.selected {
  color: var(--sky-dark);
  font-weight: 700;
}
